---
title: GirlsInSTEM
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>GirlsInSTEM</h1>
    <p>"We want people to be able to reach a point where they become independent thinkers and self sufficient builders." <span style="font-weight: bold">Fran Sanchez - Beachlab</span>
    </p>
    <p>Girls between 14 and 25 years old could join us to discover the world of digital art, reverse engineering and wearable technology. </p>
    <p>During the project, 3 <a href="toolkits.html">bootcamps</a> were organized</p>
  </div>
</div>

<div class="container mt-4 pb-2">
  <div class="container">
    <p>Are you <span style="font-weight: bold">an organisation interested</span> in obtaining extra information on the toolkits we have developed? Or do you want to support us on this road to more Girls in STEM? Let us know via mail to <a href="mailto:info@decreatievestem.be">info@decreatievestem.be</a>.</p>
  </div>
</div>

<!--div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Interested Organisation? </strong><br/><strong>Learn about our toolkits!</strong>  </div>
     
    </div>
    <div class="call-box-bottom">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLo-ouyPGYKWpV0-Jm6DIJIkpzNtYFT3n03j21Np6K9HpYvg/viewform?usp=sf_link" class="button">Fill in this Form!</a>
        
    </div>
  </div>
</div-->


<!-- About--> 
<div class="container pt-8 pt-md-5">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Results of the Project</h2>
    </div>
    <div class="col-12 col-md-10">
      <h3 class="service-title">E-textiles</h3>
        <p>The E-textiles toolkit has been released as a booklet under cc-by-nc licence. Learn how to make a fabric button, a textile stroke sensor, or a flip dot eye and more. Download our
        <a href="{{site.baseurl}}assets/images/wear/Full Booklet Printable Etextiles v1.pdf">E-textiles Toolkit Booklet [21 Mb]</a>
      </p>
      <h3 class="service-title">Digital Arts</h3>
      <p>The digital arts toolkit is divided in several parts:</p>
      <ol><li>Learn to use a micro::bit workshop, were you learn how to create animations with the micro::bit. Download <a href="{{site.baseurl}}assets/images/digart/Microbit workshop.pdf">Micro::bit animation workshop manual</a> and the <a href="{{site.baseurl}}assets/images/digart/Microbit workshop_slides.pdf">slides</a>
        </li>
        <li>Design your own VR glasses with our <a href="{{site.baseurl}}assets/images/digart/Workshop_ Design you own VR glasses.pdf">manual</a></li>
        <li>Learn how to make Augmented Reality (AR) Instagram filters with our <a href="{{site.baseurl}}assets/images/digart/Making Instagram filters.pdf">workshop manual</a></li>
        <li>Learn how to make a digital movement instrument (DMI) using combining a Micro::bit with your instrument with our <a href="{{site.baseurl}}assets/images/digart/Workshop Digital Movement Instrument.pdf">manual</a> and <a href="{{site.baseurl}}assets/images/digart/Workshop Digital Movement Instrument_slides.pdf">slides</a></li>
        <li>Create a paintbot with our <a href="{{site.baseurl}}assets/images/digart/Workshop_Paintbot.pdf">manual</a> and <a href="{{site.baseurl}}assets/images/digart/Workshop_Paintbot_slides.pdf">slides</a>.</li>
      </ol>
      <h3>Reverse Engineering</h3>
      <p>Learn how to scan an object to use it for reverse engineering projects. Learn how to make a <strong>smoke machine</strong> from scavenged parts. Or do you want to learn how to make a small vacuum cleaner? Everyting is described in our instructable, released under cc-by-nc-sa licence. Download the <a href="{{site.baseurl}}assets/images/reveng/Reverse Engineering Instructable (FINAL november 2021).pdf">Reverse Engineering Instructable [10 Mb].</a></p>
      
      
      <h3>News Links</h3>
      <ul><li>ResearchGate Interview: <a href="https://www.researchgate.net/blog/fablabs-closing-stem-gender-gap">A creative approach: How fab labs can help close the STEM gender gap</a></li>
        <li>Regional News Reportage: <a href="https://avs.be/artikels/op-zoek-naar-meer-vrouwelijke-wetenschappers-het-duivelsteen-a82329">Avs.be - Op zoek naar meer vrouwelijke wetenschappers in het Duivelsteen</a></li>
        <li>National Belgian Newspaper interview: <a href="https://www.hln.be/gent/van-haardroger-naar-mistmachine-techniek-das-niet-alleen-voor-jongens~a5f63039/">Van haardroger naar mistmachine: “Techniek, da’s niet alleen voor jongens”</a> </li>
        <li>MakerXChange publication <a href="http://makersxchange.eu/scheme/reverse-engineering-bootcamp/">Reverse Engineering BootCamp</a> </li>
      </ul>
      
      <h3>Youtube resources</h3>
      <ul><li>Promo movie on <a href="https://www.youtube.com/watch?v=2EXUhEd_8Zk">the Digital Art Toolkit</a> </li>
        <li>Promo movie on <a href="https://www.youtube.com/watch?v=qeJ4_bhVZbI">Reverse Engineering Toolkit</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Pijlers van inclusieve kets--> 
<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">What's Up?</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-5 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.shortcontent | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
  
  </div>
</div>


<!-- About--> 
<div class="container pt-8 pt-md-5">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">About the Project</h2>
    </div>
    <div class="col-12 col-md-10">
      <p>The aim of this project, funded by the European Commission through the Erasmus+ programme, is to empower girls to pursue their interests in Science, Engineering, Technology and Maths subjects (STEM), providing them with positive examples, support and possibilities to experience STEM occupations. Through this initiative, girls will be able to realise that they can embark on a fulfilling and successful career in STEM.
      </p>
    </div>
  </div>
</div>


<div class="container pt-8 pt-md-5">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">News</h2>
    </div>
    <div class="col-12 col-md-10">
        {% for post in site.posts %}
        
            {% include postbox.html %}
        
        {% endfor %}
    </div>
  </div>
</div>
<!--<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Zin om mee te doen?</h2>
  </div>
</div>-->
<!--  
<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Our Features</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>-->
