---
title: GirlsInSTEM
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>GirlsInSTEM</h1>
    <p>"We want people to be able to reach a point where they become independent thinkers and self sufficient builders." <span style="font-weight: bold">Fran Sanchez - Beachlab</span>
    </p>
    <p>Are you a girl between 14 and 25 years old? Join us to discover the world of digital art, reverse engineering and wearable technology. Let us know you are interested via <a href="https://docs.google.com/forms/d/e/1FAIpQLScmXbpX5W4bVC9cw_mVqlMEaZ6pzIug5ACIBQHniU8SRjWjjQ/viewform?usp=sf_link">this questionnaire</a>, or in French, <a href="https://docs.google.com/forms/d/e/1FAIpQLSf02I9EoFn2zM48VW_PXC8O70M4XLB_cR73Y3DWK7oGcfpK9Q/viewform?usp=sf_link">ce questionnaire</a>.</p>
    <p>Join us and get invited for our try-outs, and participate later in one of the bootcamps in Ghent, Toulouse, or Valladolid!</p>
    <p>Are you <span style="font-weight: bold">an organisation interested</span> in the toolkits we are devloping? Or do you want to support us on this road to more Girls in STEM? Let us know via <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLo-ouyPGYKWpV0-Jm6DIJIkpzNtYFT3n03j21Np6K9HpYvg/viewform?usp=sf_link">this form</a>.</p>
  </div>
</div>
<!-- link om in te schrijven -->
<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>I'm a girl of 14 to 25<br/>and interested! </strong>
        </div>
     
    </div>
    <div class="call-box-bottom">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScmXbpX5W4bVC9cw_mVqlMEaZ6pzIug5ACIBQHniU8SRjWjjQ/viewform?usp=sf_link" class="button">Fill in this form!</a>
    </div>
  </div>
</div>
<div class="container pt-3">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Je suis une fille de 14 à 25</strong><br/>
          <strong>ans et je suis intéressée! </strong>
        </div>
     
    </div>
    <div class="call-box-bottom">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf02I9EoFn2zM48VW_PXC8O70M4XLB_cR73Y3DWK7oGcfpK9Q/viewform?usp=sf_link" class="button">Remplir ce formulaire!</a>
    </div>
  </div>
</div>

<div class="container pt-4">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Interested Organisation? </strong>  </div>
     
    </div>
    <div class="call-box-bottom">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLo-ouyPGYKWpV0-Jm6DIJIkpzNtYFT3n03j21Np6K9HpYvg/viewform?usp=sf_link" class="button">Fill in this Form!</a>
        
    </div>
  </div>
</div>
<!-- link om in te schrijven -->
<!--div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>You want to join? </strong>  </div>
     
    </div>
    <div class="call-box-bottom">
      <a href="" class="button">Subscribe (Possible later)</a>
        
    </div>
  </div>
</div-->

<!--<div class="container pt-3">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Interesse in een bootcamp? </strong>  </div>
     
    </div>
    <div class="call-box-bottom">
        <a href="mailto:amy@decreatievestem.be" class="button">Mail ons!</a>
        
    </div>
  </div>
</div>-->


<!-- Pijlers van inclusieve kets--> 
<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">What's Up?</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-5 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
  
  </div>
</div>


<!-- About--> 
<div class="container pt-8 pt-md-5">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">About the Project</h2>
    </div>
    <div class="col-12 col-md-10">
      <p>The aim of this project, funded by the European Commission through the Erasmus+ programme, is to empower girls to pursue their interests in Science, Engineering, Technology and Maths subjects (STEM), providing them with positive examples, support and possibilities to experience STEM occupations. Through this initiative, girls will be able to realise that they can embark on a fulfilling and successful career in STEM.
      </p>
    </div>
  </div>
</div>


<div class="container pt-8 pt-md-5">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">News</h2>
    </div>
    <div class="col-12 col-md-10">
        {% for post in site.posts %}
        
            {% include postbox.html %}
        
        {% endfor %}
    </div>
  </div>
</div>
<!--<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Zin om mee te doen?</h2>
  </div>
</div>-->
<!--  
<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Our Features</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>-->
