<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h3 class="footer-title">{{site.title}}</h3>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <img src="{{site.baseurl}}/assets/images/partners/Co-Funded-by-Erasmus_100.jpg"/> &nbsp;
        </div>
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="footer">
        <div class="footer-title" style="flex: 1;font-size: 0.9rem;margin-bottom: 20px;">
          This project has been funded with support from the European Commission. This communication reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained therein.
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <img src="{{site.baseurl}}/assets/images/partners/DeCreatieveSTEM.svg"/> &nbsp;&nbsp;
          <img src="{{site.baseurl}}/assets/images/partners/digijeunes_100.png"/> &nbsp;&nbsp;
          <img src="{{site.baseurl}}/assets/images/partners/Logo-AdMERITUM-100.jpg"/> &nbsp;&nbsp;
          <img src="{{site.baseurl}}/assets/images/partners/INTRAS-Logo-300x93.png"/> &nbsp;&nbsp;
          <img src="{{site.baseurl}}/assets/images/partners/idrops.png"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <ul class="footer-menu">
            <li class="copyright">© {{site.title}} {{site.time | date:'%Y'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>