<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/team" class="{% if page.url contains 'team' %}current{% endif %}">Our Team</a></li>
      
    <li><a href="{{site.baseurl}}/toolkits" class="{% if page.url contains 'toolkits' %}current{% endif %}">Toolkits</a></li>
      
    <li><a href="{{site.baseurl}}/activities" class="{% if page.url contains 'activities' %}current{% endif %}">Activities</a></li>
    
    <li><a href="{{site.baseurl}}/contact" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>
